.login .language {
    text-align: center;
}
.login .language a {
    color:#ccc;
}
.login .language span.divider {
    color:#888;
}
.pagination li span, .pagination li span:hover {
    background-color:transparent;
    color:#666;
    cursor:default;
}
.pagination li span strong {
    color:#F60;
}
.pagination .active > a, .pagination .active > a:hover {
    color:#F06;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width:1px;
}
.table thead tr th {
    font-size:13px;
}
.inline-block {
    display:inline-block;
}
.line {
    display:block;
    line-height:180%;
}
.form-condensed .form-group {
    padding:5px 0;
}
.form-row-seperated .form-group.last {
    padding-bottom:0;
}
.validator-error, .validator-error:focus {
    border-color:#C94A48;
}
.modal {
    top:10%;
}
.modal-dialog {
    margin:0 auto;
}
.bootbox-alert, .bootbox-prompt, .bootbox-confirm {
    top:30% !important;
}
.bootbox-alert .modal-dialog, .bootbox-prompt .modal-dialog, .bootbox-confirm .modal-dialog {
    width:450px;
    max-width:600px;
    min-width:300px;
}
.bootbox .modal-body {
    font-size:14px;
}
.modal-500 {
    top: 10%;
}
.modal-500 .modal-dialog {
    width:500px !important;
}
.modal-600 {
    top: 8%;
}
.modal-600 .modal-dialog {
    width:600px !important;
}
.modal-650 {
    top: 8%;
}
.modal-650 .modal-dialog {
    width:650px !important;
}
.modal-700 {
    top: 5%;
}
.modal-700 .modal-dialog {
    width:700px !important;
}
.modal-750 {
    top: 5%;
}
.modal-750 .modal-dialog {
    width:750px !important;
}
.modal-800, .modal-850 {
    top: 10px;
}
.modal-800 .modal-dialog {
    width:800px !important;
}
.modal-850 .modal-dialog {
    width:850px !important;
}
.modal-900, .modal-950, .modal-1000, {
    top: 5px;
}
.modal-900 .modal-dialog {
    width:900px !important;
}
.modal-950 .modal-dialog {
    width:950px !important;
}
.modal-1000 .modal-dialog {
    width:1000px !important;
}
@media (max-width: 1000px) {
    .modal-1000 .modal-dialog {
        width: 98% !important;
    }
}
@media (max-width: 900px) {
    .modal-1000 .modal-dialog,
    .modal-950 .modal-dialog,
    .modal-900 .modal-dialog {
        width: 98% !important;
    }
}
@media (max-width: 900px) {
    .modal-1000 .modal-dialog,
    .modal-950 .modal-dialog,
    .modal-900 .modal-dialog {
        width: 98% !important;
    }
}
@media (max-width: 800px) {
    .modal-1000 .modal-dialog,
    .modal-950 .modal-dialog,
    .modal-900 .modal-dialog,
    .modal-850 .modal-dialog,
    .modal-800 .modal-dialog {
        width: 98% !important;
    }
}
@media (max-width: 750px) {
    .modal-1000 .modal-dialog,
    .modal-950 .modal-dialog,
    .modal-900 .modal-dialog,
    .modal-850 .modal-dialog,
    .modal-800 .modal-dialog,
    .modal-750 .modal-dialog {
        width: 98% !important;
    }
}
@media (max-width: 650px) {
    .modal-dialog .modal-dialog {
        width: 98% !important;
    }
}
.table .btn {
    margin:1px 0;
}
.actions .btn-group .btn {
    margin-left: 5px;
}
.bg-icon {
    font-size:12px;
    padding:0;
    width:25px;
    height:22px;
    line-height:22px;
    display:inline-block;
    text-align:center !important;
    font-weight:300;
    text-shadow:none !important;
    color:#fff;
}
.bg-icon.bg-icon-sm {
    width:20px;
    height:17px;
    line-height:17px;
}
.bg-icon > .fa {
    margin:0 !important;
    padding:0 !important;
}
.bg-icon.bg-icon-sm > .fa {
    font-size:10px;
}
.bg-icon-default {
    background-color:#999 !important;
}
.bg-icon-primary {
    background-color:#428bca !important;
}
.bg-icon-success {
    background-color:#3cc051;
    background-image:none !important;
}
.bg-icon-warning {
    background-color:#fcb322;
    background-image:none !important;
}
.bg-icon-danger {
    background-color:#ed4e2a;
    background-image:none !important;
}
.bg-icon-info {
    background-color:#57b5e3;
    background-image:none !important;
}
.fileinput-button {
    position:relative;
    overflow:hidden;
}
.input-file {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter:'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

.btn-fileupload {
    position:relative;
    overflow:hidden;
}
.btn-fileupload input {
    position:absolute;
    top:0;
    right:0;
    margin:0;
    opacity:0;
    -ms-filter:'alpha(opacity=0)';
    font-size:200px;
    direction:ltr;
    cursor:pointer;
}
