#runtime-info {clear:both; font:14px Tahoma, Arial, Verdana; line-height:180%; color:#000;}
#runtime-info h4 {font-size:16px; font-weight:bold; margin:15px 0;}
#runtime-info .info-box {font-family: Consolas,'Courier New'; margin:0; text-align:left; border:1px solid #ccc;}
#runtime-info .info-title {font-size:14px; padding:8px; background:#EFF5FF;}
#runtime-info .info-body {font-size:12px; padding:8px; border-top:1px solid #ccc; line-height:170%;}
